{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}



<div class="flex flex-row">

        {{ include('admin/components/navbarUser.html.twig') }}

        <div class="flex flex-col w-screen px-20">
        </div>


        

</div>
{% endblock %}
